*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'valorant';
    src: url('./Valorant_Font.ttf');
}

html,
body
{
    /* overflow: hidden; */
    height: 100vh;
    font-family: 'Poppins';
    background-color: #0d0d0e;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black; 
}
::-webkit-scrollbar-thumb{
  background:rgb(49, 167, 155);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background:turquoise;
}
/* scroll bar */
span:hover{
    color: goldenrod;
    border: 2px solid red;
}
form{
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 2em;
}
label{
   font-family: 'Ubuntu', sans-serif;
   font-size: 1.5em;
   color: turquoise;

}
.head{
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 2em;
    font-family: 'Ubuntu', sans-serif;
   font-size: 3em;
   color: turquoise;
}
.finp{
    color: white;
    width: auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid turquoise;
    outline: none;
    caret-color: white;
    font-size: 2em;
    transition-duration: 1s;
    font-family: 'Ubuntu', sans-serif;
}
.finp:focus{
    border-bottom: 3px solid turquoise;
}
.reveal{
    display: none;
}
.btn{
    padding:0 ;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    color: turquoise;
    outline: none;
    border: none;
    border: 1px solid turquoise;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    transition-duration: 1s;
    font-size: 30px;
}
.btn:hover{
    background-color: turquoise;
    color: black;
}
.lens{
    /* margin-left: 0em; */
    height: fit-content;
    width: fit-content;
    padding-bottom: 100px;
    /* background-color: red; */
}
@media screen and (max-width: 750px){
    .head{
        padding-top: 1em;
        margin-left: 0.25em;
        margin-right: 2em;
        font-family: 'Ubuntu', sans-serif;
       font-size: 3em;
       color: turquoise;
      }
    label{
        font-family: 'Ubuntu', sans-serif;
        color: turquoise;
        font-size: 2em;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .finp{
        color: white;
        width: auto;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid turquoise;
        outline: none;
        caret-color: white;
        font-size: 20px;
        transition-duration: 1s;
    }
    .finp:focus{
        border-bottom: 5px solid turquoise;
    }
    form{
        margin-top: 5em;
        margin-right: 2em;
        margin-left: 1em;
    }
}
/* loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  body .preloader #loader{
    opacity: 0;
    visibility: hidden;
  }
  
  .preloader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #24b662;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .preloader:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #24b662;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  
  .preloader:after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #24b662;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
/* loader */
/* scroll bar */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background:rgb(49, 167, 155);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background:turquoise;
}
/* scroll bar */

span:hover{
    color: goldenrod;
    border: 2px solid red;
}
